.app{
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1440px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-color: var(--main-white-color);
  color: var(--main-black-color);
  font-family: 'Raleway', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}


